name: Check formatting

on:
  push:
    # The CI is executed on every push on every branch
    branches:
      - master
  pull_request:
    # The CI is executed on every pull request to the main branch
    branches:
      - master

  # schedule:
  #   # The CI is executed every day at 8am
  #   - cron: "0 8 * * *"

jobs:
  check-code:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      # This action sets the current path to the root of your github repo
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install code
        run: python -m pip install .[linting]

      - name: Flake8 code
        run: python -m flake8 -v

      - name: Mypy check
        run: python -m mypy -v
